<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="80dp">
    <LinearLayout
        android:id="@+id/Box"
        android:layout_width="match_parent"
        android:layout_height="60dp"
        android:layout_marginLeft="15dp"
        android:layout_marginTop="10dp"
        android:layout_marginRight="15dp"
        android:layout_marginBottom="10dp"
        android:background="#ffffffff"
        android:elevation="3dp"
        android:minWidth="25px"
        android:minHeight="25px"
        android:gravity="center_vertical">
        <RelativeLayout
            android:layout_width="2000dp"
            android:layout_height="wrap_content"
            android:layout_weight="0.5">
            <TextView
                android:id="@+id/DescrizioneTit"
                android:text="descrizione"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:textColor="#ff1c97db"
                android:textSize="15dp"
                android:lines="1"
                android:layout_marginLeft="10dp"
                android:layout_marginRight="5dp" />
            <TextView
                android:id="@+id/DescrizioneTxt"
                android:text="Contratto adsl"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="#ff1a1a1a"
                android:textSize="15dp"
                android:lines="1"
                android:layout_below="@+id/DescrizioneTit"
                android:layout_marginLeft="10dp"
                android:layout_marginRight="5dp" />
        </RelativeLayout>
        <RelativeLayout
            android:layout_width="2000dp"
            android:layout_height="wrap_content"
            android:layout_weight="0.5">
            <TextView
                android:id="@+id/ContrattoTit"
                android:text="n° contratto"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="#ffe77817"
                android:textSize="15dp"
                android:lines="1"
                android:layout_marginRight="65dp" />
            <TextView
                android:id="@+id/ContrattoTxt"
                android:text="101010-15"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="#ff1a1a1a"
                android:textSize="15dp"
                android:lines="1"
                android:layout_below="@+id/ContrattoTit"
                android:layout_marginRight="65dp" />
            <TextView
                android:id="@+id/AttivoTxt"
                android:text="Non attivo"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="55dp"
                android:layout_height="wrap_content"
                android:textColor="#ff1a1a1a"
                android:textSize="12dp"
                android:layout_marginTop="5dp"
                android:lines="1"
                android:gravity="center"
                android:layout_alignParentRight="true"
                android:layout_marginRight="10dp"
                android:layout_alignBottom="@+id/ContrattoTxt" />
            <RelativeLayout
                android:layout_width="55dp"
                android:layout_height="10dp"
                android:layout_marginRight="10dp"
                android:layout_alignParentRight="true"
                android:layout_above="@+id/AttivoTxt">
                <RelativeLayout
                    android:id="@+id/AttivoImage"
                    android:layout_width="10dp"
                    android:layout_height="10dp"
                    android:background="@drawable/greencircle"
                    android:layout_centerHorizontal="true" />
            </RelativeLayout>
        </RelativeLayout>
    </LinearLayout>
</RelativeLayout>